<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PublicaciónImagenes</title>
    <link rel="stylesheet" href="../components/__styles__/index.css">
</head>
<body>
    <div class="main-wrapped">
        <div class="imagen4">
            <div class="imagen4_1">
                <img class="imagen3_1" src="https://i.ytimg.com/vi/NJ9gLDD7G6E/maxresdefault.jpg">  
            </div>
            <div class="imagen4_2">
            <img class="imagen3_2" src="https://i.ytimg.com/vi/NJ9gLDD7G6E/maxresdefault.jpg">
            </div>
        </div>
        
        <div class="imagen4">
            <div class="imagen4_1">
                <img class="imagen3_1" src="https://i.ytimg.com/vi/NJ9gLDD7G6E/maxresdefault.jpg">  
            </div>
            <div class="imagen4_2">
            <img class="imagen3_2" src="https://i.ytimg.com/vi/NJ9gLDD7G6E/maxresdefault.jpg">
            </div>
        </div>


    </div>
    
</body>
</html>